---
import "@/styles/global.css";
import KeepScrolling from "@/assets/down.svg";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>MOTO</title>
	</head>
	<body>
		<slot />
		<KeepScrolling class="fixed size-14 bottom-7 right-0 left-0 mx-auto text-rose-300 drop-shadow-2xl animate-bounce-pulse z-20" />
	</body>
</html>

<style>
  html { height: auto; }
  body {
    min-height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    background: black;
    margin: 0;
    width: 100%;
	min-height: 250vh; 
  }
</style>
